&nbsp;
&nbsp;
<div class="container-fluid">
<table>
      <colgroup><col><col><col></colgroup>
      <colgroup><col><col><col></colgroup>
      <colgroup><col><col><col></colgroup>
      <tbody>
                <tr> <td> <input type="text" size="2" [(ngModel)]="areas[0][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[0][8]"> </tr>
                <tr> <td><input type="text" size="2" [(ngModel)]="areas[1][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[1][8]"> </tr>
                <tr> <td><input type="text" size="2" [(ngModel)]="areas[2][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[2][8]"> </tr>
        </tbody>
        <tbody>
                <tr> <td> <input type="text" size="2" [(ngModel)]="areas[3][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[3][8]"> </tr>
                 <tr> <td><input type="text" size="2" [(ngModel)]="areas[4][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[4][8]"> </tr>
                 <tr> <td><input type="text" size="2" [(ngModel)]="areas[5][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[5][8]"> </tr>
         </tbody>
         <tbody>
                <tr> <td> <input type="text" size="2" [(ngModel)]="areas[6][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[6][8]"> </tr>
                 <tr> <td><input type="text" size="2" [(ngModel)]="areas[7][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[7][8]"> </tr>
                 <tr> <td><input type="text" size="2" [(ngModel)]="areas[8][0]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][1]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][2]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][3]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][4]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][5]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][6]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][7]"> <td> <input type="text" size="2" [(ngModel)]="areas[8][8]"> </tr>
        </tbody>
</table>
</div>  

&nbsp;
&nbsp;

<div class="container-fluid">
<div class="row">
        <div class="col-sm-4">
                <button type="button" class="btn btn-success" (click)="SubmitData()">Get Solution</button>
        </div>
        <div class="col-sm-4">
                <button type="button" class="btn btn-danger" (click)="ResetData()">Reset</button>
        </div>
        
</div>
</div>  
